{% extends 'base.html' %}

{% block content %}
    <!DOCTYPE html>
    <html lang="es">
    <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
      <title>Página de inicio</title>
      <style>
        body {
          background-color: #f8f8f8;
        }
        .jumbotron {
          background-color: #e6e6fa;
        }
        .btn-primary {
          background-color: #87cefa;
          border-color: #87cefa;
        }
        .btn-primary:hover {
          background-color: #6495ed;
          border-color: #6495ed;
        }
      </style>
    </head>
    <body>
      <div class="jumbotron text-center">
        <h1 class="display-4">Bienvenido al inicio de TaskMania</h1>
        <p class="lead">Explora y gestiona tus tareas del día a día, para mantenerte organizado/a.</p>
        <a class="btn btn-dark btn-lg" href="{% url "task" %}" role="button">Ver más</a>
      </div>
      <div class="text-center"> <!-- Div para centrar la imagen -->
        {% load static %}
        <img src="{% static 'taskmania.gif' %}" class="img-fluid" alt="Descripción de la imagen">
      </div>
      <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    </body>
    </html>
{% endblock %}
